*{
    background-color: rgb(146, 183, 208);
}

body {
  font-family: sans-serif;
}
  

header {
      text-align: center;
}

input {
      padding: 5px;
      width: 300px;
}

button {
      background: green;
      border: 0;
      color: #fff;
      padding: 10px 20px;
}

button:hover,
button:focus {
      background: darkgreen;
      cursor: pointer;
}

header .button_new { 
   background-color: red;
   border: 0;
   color: #fff;
   padding: 10px 20px;
}

header .button_back { 
      background-color: red;
      border: 0;
      color: #fff;
      padding: 10px 20px;
}
